<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/menu.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/footer.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Fondamento|Merienda+One|Kalam" rel="stylesheet">

		<title>Mary George</title>
	</head>
	<body>
		<div class="menu">
			<a href="/" class="menuItem" id="aboutMe">About Me</a>
			<a href="/Projects" class="menuItem" id="Projects">Projects</a>
			<a href="/Hobbies" class="menuItem" id="Hobbies">Hobbies</a>
			<a href="/Contact" class="menuItem" id="contact">Get in Touch</a>
		</div>
		{{!--<a href="index.html" class="menuItem" id="landPage" >Main page</a>--}}
    <div class="page">
		<form >
		{{{ body }}}
		</form>
	</div>	
		<div class="footer">
			<a href="https://docs.google.com/document/d/1szSL4uID9rOS8joyRxOCu7DAe9IQIScdx16wgmvgK8k/edit?usp=sharing" target="_blank" class="footerItem" id="resume">Resume</a>
			<a href="https://www.linkedin.com/in/mary-george-07312047/" class="footerItem" id="linkedin" target="_blank">
				<img src="images/linkedin.jpg" class="footerItemimg"/>
			</a>
			<a href="https://github.com/marygeorge" class="footerItem" id="github" target="_blank">
				<img src="images/github.png" class="footerItemimg"/>
			</a>
			
		</div>

		<script src="/javascript/main.js"></script>
	</body>
</html>
