<link rel="stylesheet" href="/assets/css/aboutMe.css" type="text/css" />

		
<div  id="story">
            <p>
                <h1 id="nametxt">Hi, I'm Mary George. </h1>
                <h3 id="desctxt">I am a programmer specializing in web development. Let's talk...</h3>
            </p>
            
</div>
{{!--<img id="down" src="/images/down_arrow.png"/>--}}
<div id="skills">
    <h2 id="skillstxt">My particular abilities:</h3>
    <br>
    <div id="skillImage">
    <img id="html" src="/images/html.png" />
    <img id="css" src="/images/css3.png" />
    <img id="js" src="/images/javascript.png" />
    <img id="jquery" src="/images/jquery.png" />
    <img id="api" src="/images/rest-api.png" />
    <img id="nodejs" src="/images/nodejs.png" />
    <img id="react" src="/images/React.png" />
    <img id="asp" src="/images/aspnet.png" />
    <img id="sql" src="/images/MySQL.png" />
    <img id="mongo" src="/images/mongo.png" />
    <img id="git" src="/images/github.png" />
    <img id="heroku" src="/images/heroku.png" />
    </div>        
</div>       
