<link rel="stylesheet" href="/assets/css/Projects.css" type="text/css" />

<div class="allProjects">
 <hr>
    <div class="projectImageDiv">
        <div class="projectImage">
            <a href="https://morning-mesa-41718.herokuapp.com/" target="_blank" >
                <img id="ftlod" src="/images/ProjectImages/Fortheloveofdog.png" />   
                <div  id="ftlodDesc" class="projectImageDesc" >
                    <font class="projDesc">Social app for Dog lovers.</font>
                </div>
            </a>
  
        </div>    
        {{!--<h3 class="projectTitle">For The Love Of Dogs</h3>--}}
        <div class="description">
            <p>'For the love of dog' is a social media outlet for dog lovers.<br>
             It is developed using MVC design pattern in Node and Express web server, backed by a MySQL Database with a Sequelize ORM.
            </p>
            <p class="gitaction">
                <a href="https://github.com/marygeorge/ForTheLoveOfDog"  class="gitlink" target="_blank">See the code in GitHub</a>
                {{!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--}}
                <a href="https://morning-mesa-41718.herokuapp.com/" class="actionlink" target="_blank">Click on logo to play app</a>
            </p>
        </div>
    </div>
 <hr>       
    <div class="projectImageDiv">
    
        <div class="projectImage">
            <a href="https://sandjie.github.io/Project1/" target="_blank">
                <img id="eb" src="/images/ProjectImages/EatBurn.png" />
                <div  id="edDesc" class="projectImageDesc" >
                    <font class="projDesc">Stay fit while you eat what you want.</font>
                </div>
            </a>
        </div>
        {{!--<h3 class="projectTitle">Eat & Burn</h3>--}}
        <div class="description">
            <p>'Eat & Burn' is an app formulated to help users stay healthy while they eat their favorite food. 
                It displays the calories in a meal and provide workout options to burn those calories. <br>
                Bing web search and nutritionix API play a big part in this app. Front end uses Materialize and Firebase is used at the back end.
            </p>
            <p class="gitaction">
                <a href="https://github.com/Sandjie/Project1"  class="gitlink" target="_blank">See the code in GitHub</a>
                {{!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--}}
                <a href="https://sandjie.github.io/Project1/" class="actionlink" target="_blank">Click on logo to play app</a>
            </p>
        </div>
    </div>
 <hr>       
    <div class="projectImageDiv">
        <div class="projectImage">
            <a href="https://marygeorge.github.io/hangman/hangman.html" target="_blank">
                <img id="hm" src="/images/ProjectImages/Hangman.png" />
                <div  id="hmDesc" class="projectImageDesc" >
                    <font class="projDesc">Play Hangman</font>
                </div>
            </a>
        </div>
        {{!--<h3 class="projectTitle">Hangman</h3>--}}
        <div class="description">
            
            <p>This is a basic hangman game<br>
                Front end have original graphics.
                Guess the letters of the hidden word to solve the puzzle.
                Each word can take upto 13 wrong guesses.
                If you can't solve a word it will be presented to you again at a later stage.
            </p>
            <p class="gitaction">
                <a href="https://github.com/marygeorge/hangman"  class="gitlink" target="_blank">See the code in GitHub</a>
                {{!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--}}
                <a > 
                <a href="https://marygeorge.github.io/hangman/hangman.html" class="actionlink" target="_blank">Click on logo to play app</a>
            </p>
        </div>
    </div> 
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
