/*body{
    background: url(../images/zigzagwool-contact.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat-y; 
    background-color: #d9d9d9;
    color: grey;
    font-family: 'Kalam', cursive;
    font-weight: bold; 
    font-size: large;
    text-align: justify;
    }*/
#aboutMe{
     /*font-size: 25px;*/
     text-shadow: 1px 0 #ffffec;
}


#story{
    position: absolute;
    align-self: center;
    text-align: center;
    top:20%;
    left: 5%;
    width:95%;
    
}
#nametxt{
    font-size: 400%;
    color: #f2f2f2;
    letter-spacing: 2px;
    text-shadow: 0px -2px #00838f;
    /*text-shadow: -1px 0 #ffffec, 0 2px #00838f, 1px 0 #ffffec, 0 -2px #00838f;*/
}
#desctxt{
    font-size: 200%;
    color: #00838f;
    /*text-shadow: 1px 1px #6A9A1F;*/
    letter-spacing: 1px;
}
#down{
    position:absolute;
    top:65%;
    left:90%;
    height:6%;
    width:6%;
    opacity: 0;
    background: #333333;
    color:black;
    animation: godown 1s steps(200, end); 
    animation-delay: 2s;
    /*animation-iteration-count: 2;*/
    animation-fill-mode:forwards;
    
}
@keyframes godown{
    from{height:0%;}
    to{height:6%}
    from{opacity:0;}
    to{opacity:.7;}
}
#skills{
    position: relative;
    top: 650px;
    left:13%;
    width:80%;
    height: 550px;
    font-size: 120%;
    color: #00838f;
    /*text-shadow: 1px 1px #739900;*/
    letter-spacing: 1px;
    
}
#skillImage{
    
    filter: grayscale(50%);
}
img{
    width:10%;
    height: 15%;
}
#html{
    position: absolute;
    top:20%;
    left:5%;
}
#css{
    position: absolute;
    top:20%;
    left:25%;
}
#js{
    position: absolute;
    top:20%;
    left:45%;
}
#jquery{
    position: absolute;
    top:20%;
    left:65%;
}
#api {
    position: absolute;
    top:20%;
    left:85%;
}
#nodejs
{
    position: absolute;
    top:40%;
    left:15%;
}
#react{
    position: absolute;
    top:40%;
    left:35%;
}
#asp{
    position: absolute;
    top:40%;
    left:55%;
}
#sql{
    position: absolute;
    top:40%;
    left:75%;
} 
#mongo{
    position: absolute;
    top:60%;
    left:25%;
}
#git{
    position: absolute;
    top:60%;
    left:45%;
} 
#heroku{
    position: absolute;
    top:60%;
    left:65%;
}



@media only screen  and (max-device-width : 415px)  
{ 
    #nametxt{
        font-size: 565%;
        
    }
    #desctxt{
        font-size: 290%;
        
    }
    #down{
        display: none;
    }   
    #story{
    font-family: 'Fondamento', cursive;
    font-size: small;
    top:17%;
    left: 5%;
    }
    #skills{
    position: relative;
    top: 900px;
    }

}

@media only screen  and (max-device-height : 413px)  
{ 
    #story{
    font-family: 'Fondamento', cursive;
    font-size: small;
    top:17%;
    }
    
}