.footer{
    margin-top: 0px;
	float:right;
	text-align: right;
	
}
.footerItem{
    margin-right: 1%;
}
.footerItemimg{
    height: 10%;
    width: 10%;
}
resume{
		position: relative;
		float:left;
		top: 70%;
		left: 15%;
		height: 7%;
		width: 7%;
		font-size: 90%;
		font-weight: bold;
		text-align: center;
		padding-top: .9%;
		}
	
link{
		position: absolute;
		position: fixed;
		float: left;
		top: 70%;
		left: 28%;
		height: 9%;
		width: 7%;
		}

git{
		/*position: fixed;
		float:left;
		top: 70%;
		left: 41%;*/
		height: 9%;
		width: 7%;
	}


/*@media only screen  and (max-device-height : 736px)  */
@media only screen  and (max-device-width : 414px)
{ 
 font{
     font-size: medium;
 }
 .footer{
   margin-top: 50px;
}
 .footerItemimg{
    height: 8%;
    width: 8%;
    margin-right: 5%;
}
.footerItem{
    
    font-size: 250%;
    margin-right: 5%;
} 
}