
.menu{
    background-color: rgba(50,50,50, 0.8);
   z-index: 1;
    position: fixed;
    min-height: 10%;
    height: 10%;
    width:100%;
    top:1%;
    left: 0%;
    padding-top:2%;
    
}
.menuItem{
    opacity: 1;
    font-family: 'Fondamento', cursive;
    letter-spacing: .8px;
    font-size: 38px;
    color: grey;
    margin: 2%;
    white-space: nowrap;
}
.menuItem:hover{
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

a {
    text-decoration: none;
     color: #00838f;
}

#landPage
{
    position: absolute;
    top: 0%;
    left:85%;
    font-size: medium;
}

@media only screen  and (max-device-width : 415px)  
{ 
 
    .menu{
        text-align: center;
    }
    .menuItem{
    font-size: 200%;
    }
    
    #landPage
    {
        font-size: x-small;
    }

}

@media only screen  and (max-device-height : 415px)  
{ 
 
    .menu{
        text-align: center;
        padding-top: 5%;
        height: 5%;
    }
    .menuItem{
        font-size: x-small;
        width: 100%;
    }
    #landPage
    {
        font-size: x-small;
    }

}